#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define SYS  1

/ {
    keymap {
        compatible = "zmk,keymap";

        // Слой 0: Твоя базовая раскладка (для примера QWERTY)
        default_layer {
            bindings = <
                &kp ESC   &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8    &kp N9   &kp N0    &kp BSPC
                &kp TAB   &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I     &kp O    &kp P     &kp BSLH
                &kp CLCK  &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K     &kp L    &kp SEMI  &kp SQT
                &kp LSHFT &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA &kp DOT  &kp FSLH  &kp ENTER
                &kp LCTRL &kp LALT &kp LGUI &none &none  &none   &none  &none  &none     &none    &none     &none
                &none     &none  &none  &none  &mo SYS &kp SPACE &kp SPACE &none &none   &none    &none     &none
            >;
        };

        // Слой 1: Системный слой (активируется удержанием клавиши с 5-й строки)
        sys_layer {
            bindings = <
                // Вот она, заветная кнопка разблокировки ZMK Studio!
                &studio_unlock &none &none &none &none &none &none &none &none &none &none &sys_reset
                &bootloader    &none &none &none &none &none &none &none &none &none &none &none
                &none          &none &none &none &none &none &none &none &none &none &none &none
                &none          &none &none &none &none &none &none &none &none &none &none &none
                &none          &none &none &none &none &none &none &none &none &none &none &none
                &none          &none &none &none &trans &none &none &none &none &none &none &none
            >;
        };
    };
};